body
// este cambio es para ver como repercute el trabajo sobre el repositorio
{
align-content: center;
font-family: "Arial";
color: blue; // este es el color de la fuente
}
// este es un segundo cambio para ver como se comporta el repositorio

//Este cambio es local para ver como repercute en el repositorio
// este es un cambio del 22/6..
